</div>
</div>

<div class="jumbotron jumbotron-fluid footer">

    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <h1>National Institute Of Technology, Kurukshetra</h1>
                <img src="/images/microsoft-logo.png" class="microsoft-logo" alt="">
            </div>
            <div class="col-md-6">

                <div class="contacts d-flex flex-column">
                    <div>
                        <p class="name">yogesh</p>
                        <p>NATIONAL INSTITUTE OF TECHNOLOGY, KURUKSHETRA</p>
                    </div>

                    <div>
                        <p><a href="mailto:yogeshygunwal@gmail.com"><i class="fas fa-envelope"></i></a> yogeshygunwal@gmail.com</p>
                        <p><a href="tel:919518860326"><i class="fas fa-phone"></i></a> (+91) - 9518860326</p>
                    </div>

                    <!-- <div class="">
                        <a href="https://github.com/AnshikaAgrawal5501"><i class="fab fa-github"></i></a>
                        <a href="https://www.linkedin.com/in/anshika-agrawal-406441197/"><i class="fab fa-linkedin"></i></a>
                        <a href="http://api.whatsapp.com/send?phone=917579066443"><i class="fab fa-whatsapp"></i></a>
                    </div> -->
                </div>

            </div>
        </div>
    </div>

</div>

<!-- <script src="scripts/script.js"></script> -->

</body>

</html>